#JWT CREDENTIALS
auth_key=replace_with_a_secret_key
algorithm=HS256

#S3 CREDENTIALS
S3_ACCESS_KEY=test
S3_SECRET_KEY=test
S3_REGION=us-east-1
S3_BUCKET=logs-bucket
S3_ENDPOINT_URL=http://localstack:4566
PRESIGNED_PUBLIC_ENDPOINT=http://localhost:4566

#REDIS CREDENTIALS
REDIS_PORT=6379
REDIS_HOST=localhost